{% extends "AccueilBundle::connexion.html.twig" %}

{% block body %}

  <div id="header" class="jumbotron">
    <h1>Humandata</h1>
    <p>
      Projet propulsé par Symfony 3
    </p>
  </div>

  <div class="row">

    <div id="menu" class="col-md-3 jumbotron">
      <h4>Projets en cours</h4>
        {{ knp_menu_render('AccueilBundle:Builder:mainMenu') }}
    </div>

    <div id="content" class="col-md-6">
    {% block content %}
      <h3>Bienvenue chez Humandata</h3>
      <hr>
    {% endblock %}
    </div>

    {% if is_granted("ROLE_SUPER_ADMIN") %}
      <div id="menu" class="col-md-3">
        <h4>Administration</h4>
          {{ knp_menu_render('AccueilBundle:Builder:administrationMenu') }}
      </div>
    {% endif %}

  </div>

  {% block footer %}
      {{ include("AccueilBundle::footer.html.twig") }}
  {% endblock %}

{% endblock %}
