{% extends "AccueilBundle:connexion.html.twig" %}

{% block body %}

  <div id="header" class="jumbotron">
    <h1>Humandata</h1>
    <p>
      Projet propulsé par Symfony 3
    </p>
  </div>

  <div class="row">
    <div id="menu" class="col-md-3">
      <h4>Projets en cours</h4>
        {{ knp_menu_render('AccueilBundle:Builder:mainMenu') }}
    </div>

    <div id="content" class="col-md-9">
    {% block content %}

		<h3>Bienvenue chez Humandata</h3>

    {% endblock %}
    </div>

  <hr>
  </div>

{% endblock %}

{% block footer %}

  <h2>Ce site est en cours de construction...</h2>
  <p><a class="btn btn-success btn-xs" href="mailto:webmaster@humandata.info?subject=Contact%20sur%20le%20site%20Web%20de%20Humandata.info">contactez le Webmaster</a></p>
  <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>

{% endblock %}
