{% extends "::bootstrap.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('main.css') }}">
{% endblock %}

{% block title %}Hello World{% endblock %}

{% block body %}

    <p>Ce texte est affiché en HTML</p>
    <span id="texteJQ"></span>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('jq-hello-world.js') }}"></script>
{% endblock %}


