{% extends "AccueilBundle:Analyse:layout.html.twig" %}

{% block body %}

    {% for analyse in analyses %}
        {{ include("AccueilBundle:Analyse:etiquette.html.twig") }}
    {% endfor %}

    <a class="btn btn-primary" href="{{ path('administration_analyse_new') }}">Create a new entry</a>

    <a class="btn btn-primary" href="{{path('accueil_homepage')}}">Retour à l'accueil</a>

{% endblock %}
