{% extends "::bootstrap.html.twig" %}

{% block title %}Analyse{% endblock %}

{% block titre %}
	<h1 class="page-header">Analyse</h1>
{% endblock %}

{% block body %}
{{ include("AccueilBundle::connexion.html.twig") }}
{% endblock %}
