{% extends "AccueilBundle::connexion.html.twig" %}

{% block title %}{{ parent() }} - Analyse{% endblock %}

{% block titre %}
	<h1 class="page-header">Analyse</h1>
{% endblock %}

{% block body %}
{% endblock %}
