#animated {
    font-family: 'Raleway';
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: #fff;
    margin-top: 120px;
}

h6 {
	text-align: center;
}

#main-page {
    height: 25px;
    width: 375px;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    background-color: #27ae60;
    display: none;
}

#web-page {
    height: 25px;
    width: 375px;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    background-color: #27ae60;
    display: none;
}

#app-page {
    height: 25px;
    width: 375px;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    background-color: #27ae60;
    display: none;
}

.maincontent, .appcontent, .webcontent {
    padding-top: 40px;
    display: none;
}

a.back{
    font-family: 'Lato';
    font-size: 20px;
    color: #dfdfdf;
    text-decoration: none;
    text-align: center;
    width: 20%;
    margin: 25px auto 30px auto;
    display: block;
}

a.mainlink, a.applink, a.weblink {
    font-family: 'Lato';
    color: #fff;
    border: 3px solid #fff;
    padding: 15px 10px;
    display: block;
    text-align: center;
    margin: 25px auto;
    width: 13%;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

a.mainlink:hover, a.applink:hover, a.weblink:hover{
    background: #fff;
    color: #575757;
}
