{% extends "::bootstrap.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('main.css') }}">
{% endblock %}

{% block title %}Hello World{% endblock %}

{% block body %}

    <p>Ce texte est affiché en HTML</p>
    <span id="texteJQ"></span>

	<div class="row">
		<div class="col-lg-1">logo</div>	
		<div class="col-lg-offset-5 col-lg-2" >notifications</div>
		<div class="col-lg-2">connexion</div>
		<div class="col-lg-2">tableau</div>
	</div>
	<div class="row">
		<div class="col-lg-12">menu</div>
	</div>
	<div class="row">
		<div class="col-lg-2">menu</div>
		<div class="col-lg-8">contenu</div>
		<div class="col-lg-2">menu</div>
	</div>
	<div class="row">
		<div class="col-lg-12">slogan</div>
	</div>
	<div class="row">
		<div class="col-lg-1">logo</div>
		<div class="col-lg-2">réseaux sociaux</div>
		<div class="col-lg-offset-4 col-2">Mentions légales</div>
	</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('jq-hello-world.js') }}"></script>
{% endblock %}


