{% extends "::bootstrap.html.twig" %}

{% block title %}Hello World{% endblock %}

{% block body %}

    <p>Ce texte est affiché en HTML</p>
    <span id="texteJQ"></span>

	<div class="row"> 
		<div class="col-lg-1" id="contour">logo</div>	
		<div class="col-lg-offset-5 col-lg-2" id="contour">notifications</div>
		<div class="col-lg-2" id="contour">connexion</div>
		<div class="col-lg-2" id="contour">tableau</div>
	</div>
	<div class="row">
		<div class="col-lg-12" id="contour">menu</div>
	</div>
	<div class="row">
		<div class="col-lg-2" id="contour">menu</div>
		<div class="col-lg-8" id="contour">contenu</div>
		<div class="col-lg-2" id="contour">menu</div>
	</div>
	<div class="row">
		<div class="col-lg-12" id="contour">slogan</div>
	</div>
	<div class="row">
		<div class="col-lg-1" id="contour">logo</div>
		<div class="col-lg-2" id="contour">réseaux sociaux</div>
		<div class="col-lg-offset-4 col-2" id="contour">Mentions légales</div>
	</div>

	<a class="btn btn-primary btn-xs" role="button" href="{{path('accueil_homepage')}}">Retour à l'accueil</a>
	
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@TestsBundle/Resources/public/js/jq-hello-world.js' %}
    	<script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


