<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>AnimatedTransition</title>

  {% block stylesheets %}
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900|Raleway:400,300,700,600,900' rel='stylesheet' type='text/css'>
    {% stylesheets '@TestsBundle/Resources/public/css/animatedTransition.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
  {% endblock %}

  </head>

  <body>
 
  <div id="main-page">
  <!--- Main Content Here -->
    <div class="maincontent">
      <h1>Full Page Transition</h1>
      <a class="mainlink">TRY IT NOW &#10140;</a>
    </div>
    <a class="btn btn-primary btn-xs" role="button" href="{{path('accueil_homepage')}}">Retour à l'accueil</a>
  </div>
  
  <div id="next-page">
    <div class="nextcontent">
      <h1>Great! You're in the 2nd Page!</h1>
      <a class="nextlink"> &#8592 GO BACK</a>
    </div>
    <a class="btn btn-primary btn-xs" role="button" href="{{path('accueil_homepage')}}">Retour à l'accueil</a>
  </div>
{% block javascripts %} 
    <script src="http://code.jquery.com/jquery.min.js"></script>
    {% javascripts '@TestsBundle/Resources/public/js/animatedTransition.js' %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>


