{% extends "AccueilBundle::layout.html.twig" %}

{% block content %}

<h3>Page d'administration n° {{id}}</h3>

<a class="btn btn-primary btn-xs" href="{{path('accueil_homepage')}}">Retour à l'accueil</a>

<a class="btn btn-primary btn-xs" href="{{path('message')}}/{{id}}">Aller vers la page</a>

{% endblock %}
