{% extends "::bootstrap.html.twig" %}

{% block title %}Humandata{% endblock %}

{% block body %}
    <div id="main-page">
      <div class="maincontent">
        <h1 id="animated">HumanData</h1>
        <h6>We're not our projects, nor our objects…</h6>
        <a class="applink">TEST OUR FIRST APP &#10140;</a>
        <a class="mainlink">GO TO WEBSITE &#8592;</a>
      </div>
    </div>
      <!--
    <div id="next-page">
      <div class="nextcontent">
        {{ include("AccueilBundle:Accueil:accueil.html.twig") }}

      </div>


        <a class="nextlink"> &#8592 GO BACK</a>

      href="{{path('accueil_homepage')}}"
    </div>-->

{% endblock %}
