{% extends "::bootstrap.html.twig" %}

{% block title %}Humandata{% endblock %}

{% block body %}
<<<<<<< HEAD
    <div id="main-page">
      <div class="maincontent">
        <h1 id="animated">HumanData</h1>
        <h6>We're not our projects, nor our objects…</h6>
        <a class="applink">TRY OUR FIRST APP &#10140;</a>
        <a class="weblink">GO TO WEBSITE &#8592;</a>
      </div>
    </div>
=======
>>>>>>> bf87b52... Animation limitée à  une fois

    {% if fade == 1 %}
    <div id="app-page">
				<div class="appcontent">
          {{ fade }}
    {% endif %}
            <div id="web-page">
              <div class="webcontent">
                  {{ include("AccueilBundle:Accueil:accueil.html.twig") }}
              </div>
            </div>
    {% if fade == 1 %}
        <div/>
		<div/>
    {% endif %}
{% endblock %}
