{% extends "::bootstrap.html.twig" %}

{% block title %}Humandata{% endblock %}

{% block body %}
    <div id="main-page">
    <!--- Main Content Here -->
      <div class="maincontent">
        <h1 id="animated">Full Page Transition</h1>
        <h6>We're not our projects, nor our objects…</h6>
        <a class="mainlink">GO TO WEBSITE &#10140;</a>
      </div>
    </div>

    <div id="next-page">
      <div class="nextcontent">
        {{ include("AccueilBundle:Accueil:accueil.html.twig") }}

      </div>
      <!--

        <a class="nextlink"> &#8592 GO BACK</a>

      href="{{path('accueil_homepage')}} -->
    </div>

{% endblock %}
