<html>
<body>

	<h1>Bienvenue chez Humandata</h1>

<p><a href='gestionDeRappels'>lien vers le projet de gestion de rappels</a></p>
<p><a href='clubRH'>lien vers le projet de clubRH</a></p>
<p><a href='miniSocial'>lien vers le projet de mini réseau social</a></p>
<p><a href='SEL'>lien vers le projet de gestion de SEL</a></p>
<p><a href='guideResponsable'>lien vers le projet de guide de produits responsables</a></p>

<h1>Site en cours de construction...</h1>

<p><a href="mailto:webmaster@humandata.info">contactez le Webmaster</a></p>

</body>
</html>
