{% extends "::layout.html.twig" %}

{% block body %}

<h3>Bienvenue chez Humandata</h3>

{% endblock %}

{% block footer %}
<h1>Ce site en cours de construction...</h1>
<p><a href="mailto:webmaster@humandata.info">contactez le Webmaster</a></p>
<p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
{% endblock %}