{% extends "::bootstrap.html.twig" %}

{% block title %}Humandata{% endblock %}

{% block body %}
    <div id="main-page">
    <!--- Main Content Here -->
      <div class="maincontent">
        <h1 id="animated">Full Page Transition</h1>
        <a class="mainlink">TRY IT NOW &#10140;</a>
      </div>
    </div>

    <div id="next-page">
      <div class="nextcontent">
        <h1 id="animated">Great! You're in the 2nd Page!</h1>
        <a class="nextlink"> &#8592 GO BACK</a>
      </div>
      <!-- href="{{path('accueil_homepage')}} -->
    </div>

{% endblock %}
