{# src/AccueilBundle/Resources/views/Default/menu.html.twig #}

<ul class="nav nav-pills nav-stacked">
  {% for projet in listProjets %}
    <li>
      <a href="{{ path('accueil_projets', {'id': projet.id}) }}">
        {{ projet.title }}
      </a>
    </li>
  {% endfor %}
</ul>