{% extends "::layout.html.twig" %}

{% block body %}

<h3>Bienvenue chez Humandata</h3>

<p><a href='gestionDeRappels'>lien vers le projet de gestion de rappels</a></p>
<p><a href='clubRH'>lien vers le projet de clubRH</a></p>
<p><a href='miniSocial'>lien vers le projet de mini réseau social</a></p>
<p><a href='SEL'>lien vers le projet de gestion de SEL</a></p>
<p><a href='guideResponsable'>lien vers le projet de guide de produits responsables</a></p>

{% endblock %}

{% block footer %}
<h1>Ce site en cours de construction...</h1>
<p><a href="mailto:webmaster@humandata.info">contactez le Webmaster</a></p>
<p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
{% endblock %}