{% extends "AccueilBundle:Default:index.html.twig" %}

{% block content %}

<h3>Présentation du projet n° {{id}}</h3>

<a class="btn btn-primary btn-xs" href="{{path('accueil_homepage')}}">Retour à l'accueil</a>

{% endblock %}
