{% extends "::bootstrap.html.twig" %}

{% block title %}Humandata{% endblock %}

{% block body %}
    <div id="web-page">
      <div class="webcontent">
          {{ include("AccueilBundle:Accueil:accueil.html.twig") }}
      </div>
    </div>

{% endblock %}
